.movie-container {
  background-color: #3B397F;
  display: flex;
  height: 92vh;
  justify-content: center;
  width: 100%;
}

.inner-container {
  background-color: #3B397F;
  border: 10px ridge #c654dd;
  box-shadow: 0 0 20px 10px black;
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  justify-content: center;
  margin-top: 20px;
  overflow: scroll;
  width: 750px;
}
