.header {
  align-items: center;
  background-color: #2D2D2F;
  display: flex;
  height: 35px;
  justify-content: space-around;
}

.login-button,
.logout-button,
.home-button  {
  border-radius: 3px;
  font-size: 20px;
  height: 25px;
  line-height: 5px;
  width: 80px;
}
