@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@import url(https://fonts.googleapis.com/css?family=Hanalei+Fill&display=swap);

.welcome-user {
  border-radius: 20px;
  color: #C654DE;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
}

.poster-title  {
  background-color: #2D2D2F;
  border: 2px ridge #fff;
  border-radius: 20px;
  box-shadow: 0 0 15px 2px black;
  color: #c654dd;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 330px;
}

.movie-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  width: 350px
}

.poster {
  box-shadow: 0px 0px 20px 5px black;
  height: 450px;
  width: 350px;
}

.avg-container {
  text-shadow: 3px 3px 3px black;
  width: 200px;
}

.avg-container:before {
  color: #c654de;
  content: 'Average ';
  font-family: 'Hanalei Fill', cursive;
  position: relative;
  bottom: 20px;
  left: 4px;
  font-size: 17px;
}

.avg-container:after {
  color: #c654de;
  content: 'Rating';
  font-family: 'Hanalei Fill', cursive;
  position: relative;
  bottom: 20px;
  left: 2px;
  font-size: 17px;
}

.average-img {
  border-radius: 85px;
  height: 70px;
  margin-top: -30px;
  margin-left: 4px;
  text-shadow: 3px 3px 3px black;
}

.average-score {
  color: #3B397F;
  font-size: 20px;
  position: relative;
  text-align: center;
  text-shadow: 0px 0px 1px black;
  top: -42px;
  left: 4px;
  z-index: 1;
}

.view-movie {
  color: #ED7899;
  font-size: 26px;
  font-weight: bold;
  margin-top: -23px;
  text-align: center;
  text-shadow: 6px 6px 3px black;
  width: 140px;
}

.view-movie:hover {
  color: #D45DC1;
  text-shadow: 10px 15px 3px black;
}
