@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@import url(https://fonts.googleapis.com/css?family=Hanalei+Fill&display=swap);

.welcome-user {
  /* animation: flicker 3s infinite alternate; */
  border-radius: 20px;
  color: #C654DE;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
}

.poster-title  {
  background-color: #2D2D2F;
  border: 2px ridge #fff;
  border-radius: 20px;
  box-shadow: 0 0 15px 2px black;
  color: #c654dd;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 330px;
}

/* Replace root color styling variables with hexidecimal*/
:root {
  --neon-text-color: purple;
  --neon-border-color: #2D2D2F;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow:
        -0.2rem -0.2rem 1rem #fff,
        0.2rem 0.2rem 1rem #fff,
        0 0 2rem var(--neon-text-color),
        0 0 4rem var(--neon-text-color),
        0 0 6rem var(--neon-text-color),
        0 0 8rem var(--neon-text-color),
        0 0 10rem var(--neon-text-color);

    box-shadow:
        0 0 .5rem #fff,
        inset 0 0 .5rem #fff,
        0 0 2rem var(--neon-border-color),
        inset 0 0 2rem var(--neon-border-color),
        0 0 4rem var(--neon-border-color),
        inset 0 0 4rem var(--neon-border-color);
  }

  20%, 24%, 55% {
      text-shadow: none;
      box-shadow: none;
  }
}

.movie-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  width: 350px
}

.poster {
  box-shadow: 0px 0px 20px 5px black;
  height: 450px;
  width: 350px;
}

.avg-container {
  text-shadow: 3px 3px 3px black;
  width: 170px;
}

.avg-container:before {
  color: #c654de;
  content: 'Average ';
  font-family: 'Hanalei Fill', cursive;
  position: relative;
  bottom: 20px;
  font-size: 14px;
}

.avg-container:after {
  color: #c654de;
  content: 'Rating';
  font-family: 'Hanalei Fill', cursive;
  position: relative;
  bottom: 20px;
  font-size: 14px;
}

.average-img {
  border-radius: 85px;
  height: 70px;
  margin-top: -30px;
  text-shadow: 3px 3px 3px black;
}

.average-score {
  color: #3B397F;
  font-size: 20px;
  position: relative;
  text-align: center;
  text-shadow: 0px 0px 1px black;
  top: -42px;
  left: 4px;
  z-index: 1;
}

.view-movie {
  color: #d34ee5;
  font-size: 25px;
  margin-top: -23px;
  text-align: center;
  text-shadow: 0px 0px 14px black;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: silver;
  width: 140px;
}

.view-movie:hover {
  color: #ED7899;
  text-decoration: none;
  text-shadow: 6px 6px 3px black;
}
